@font-face {
  font-family: "HakgyoansimBadasseugiTTF-L";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimBadasseugiTTF-L.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  font-family: "HakgyoansimBadasseugiTTF-L", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

div#root {
  font-family: "HakgyoansimBadasseugiTTF-L", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
